<footer class="footer partialBar  py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            &copy; <a href="/">YelpCamp 2022</a>
        </span>
    </div>
</footer>
